/*********************************
General
*********************************/
body {
  font-family: "Lato", serif, sans-serif;
  background-color: #64b5f6;
  padding-top: 150px;
}

/*********************************
Calculator
*********************************/
#myECalculator{
  background-color: #fbc02d;
  width: 300px;
  border: solid;
  border-width: 5px;
  border-radius: 5px;
  border-color: #000000;
  margin: auto;
  text-align: center;
  padding: 5px 25px;
}

#calculatorTitle {
  padding-top: 10px;
  font-size: 25px;
  color: black;
}

/*********************************
buttons
*********************************/
.btns {
  background-color: #388e3c;
  border-color: #aed581;
  color: black;
  padding: 5px;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 20px;
  margin: 2px 0px 2px 0px;
  border-radius: 10px;
}

#zero {
  background-color: #388e3c;
  border-color: #aed581;
  color: black;
  padding: 5px;
  height: 50px;
  width: 115px;
  text-align: center;
  font-size: 25px;
  margin: 2px 0px 2px 0px;
  border-radius: 10px;
}

/*********************************
Footer
*********************************/
footer {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  color: black;
}